/*

!.gitignore
!README.md

!nvim/
nvim/Session.vim
nvim/plugin/packer_compiled.lua
#!nvim/lua/sterbz/
#!nvim/after/plugins/

!zsh/
!powershell/

!neofetch/

#Wayland
!hypr/
!HyprV/
!waybar/
!wallpapers/
!mako/
!wofi/

!hyprHelp.txt
